@import "main.css";



/*********** 全局变量 ***********/

/*
 * 测试边框
 */
$testBorder: 1px solid black;

/*
 * 页面主体颜色
 */
$mainColor: #fff;

/*
 * 页面主体内边距
 */
$mainPaddingSize: 16px;

/*
 * 边框颜色
 */
$borderColor: #d1dbe5;

/*
 * 主体颜色
 */
$themeColor: #324157;




/*********** 顶部工具栏 ***********/

/*
 * 顶部工具栏高度
 */
$headerHeight: 50px;

/*
 * 顶部工具栏元素上内边距
 */
$headerItemPaddingTop: 8px;


.header-container {
    height: $headerHeight;
    border-bottom: 1px solid $borderColor;
    background: $mainColor;
    nav {
        padding: 0 $mainPaddingSize;
        .nav-left {
            float: left;
            height: $headerHeight;
            padding-top: $headerItemPaddingTop;
        }
        .nav-right {
            float: right;
            ul {
                list-style: none;
                display: inline;
                height: $headerHeight;
                li {
                    float: left;
                    width: $headerHeight;
                    text-align: center;
                    padding-top: $headerItemPaddingTop;
                }
            }
        }
        button {
            color: $themeColor;
        }
    }
}

/*
 * 消息弹层
 */
.el-popover {
    .header-message {
        width: 260px;
        li {
            border-bottom: 1px solid $borderColor;
            padding: 6px;
            min-height: 54px;
            list-style: none;
            // 消息头像
            .message-img {
                float: left;
                padding-top: 2px;
                img {
                    width: 48px;
                    height: 48px;
                    border-radius: 24px
                }
            }
            // 消息内容
            div.message-cnt {
                margin-left: 58px;
                line-height: 20px;
                strong {
                    padding-bottom: 2px;
                }
                small {
                    padding-top: 2px;
                }
            }

        }
    }
    // 查看全部消息
    .header-message-more {
        text-align: center;
        margin: 4px 0;
        padding-top: 12px;
        a {
            color: $themeColor;
        }
    }
}

/*
 * 标签页标题
 */
.tab-header-title {
    text-align: center;
    margin-bottom: 8px;
}